.container {
    height: 88vh;
}

.chooseText {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: lightblue;
    height: 10vh;
    width: 100%;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold;
}

.text {
    width: 80%;
    margin-top: 50px;
    font-size: 40px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-weight: bold;
}

.option {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    height: 80vh;
    width: 100%;
    background-color: lightblue;
}

.table {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 20%;
    height: 500px;
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 20px;
}

.table h4 {
    margin: 10px;
}

.products {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 65%;
}

.product {
    height: 250px;
    width: 100px;
    width: auto;
    margin: 10px;
}

.product img {
    width: 250px;
    height: 250px;
}

.product img:hover {
    cursor: pointer;
}